---
import Layout from "../layouts/Layout.astro";
import BannerImage from "../assets/Tuition.webp";
import study from "../assets/stud.webp";
import study2 from "../assets/stud2.webp";
import point from "../assets/darrow.webp";
import sallie from "../assets/sallie.webp";
import osap2 from "../assets/osap2.webp";
import graduate from "../assets/graduate.webp";
---

<Layout>
<section class="relative w-full mt-10 pt-12 bg-no-repeat h-auto object-contain bg-cover bg-white md:bg-transparent tuition-section">
  <div class="w-full mx-auto px-4 md:px-6 md:py-10 h-full">
    <div class="grid md:grid-cols-2 items-center h-full">
      <!-- Left Column -->
      <div class="text-[#16418E] max-w-xl md:ml-15 ml-0">
        <h1 class="text-xl md:text-4xl w-[60%] md:w-[95%] font-semibold mb-4 leading-relaxed text-shadow-custom">
          Invest in Your Future At Texila
        </h1>
 <p class="bg-[#D4D9EE] border-r-4 md:border-r-0 pl-4 text-sm mt-[34px] md:text-base py-2 px-2 border-l-4 border-[#3664B7] text-start md:bg-none md:[background:linear-gradient(to_right,#D4D9EE,#D4D9EE00)]">
  Finance your career like many others and pursue your dream
</p>

  
        <a
    href="https://apply.tauedu.org/gy/caribbean-medical-schools/contact/"
    class="inline-flex my-8 items-center gap-1 bg-gradient-to-r from-[#3663B6] to-[#16418E] hover:brightness-105 text-white border-b-4 border-[#FFE44D] text-base px-6 py-3 rounded-md"
  >
    Schedule a Call
  </a>
      </div>

      <!-- Right Column -->
      <div></div>
    </div>
  </div>
</section>

<section class="bg-[#3664B7] text-white py-8 md:py-16">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold inline-block tracking-wide text-[#3664B7] uppercase rounded-md bg-white text-[#3664B7] px-4 py-2 mb-6">
        *Tuition and Fees
      </h2>
      <h3 class="text-xl font-semibold mb-4">Doctor of Medicine (MD) and Premed Program</h3>
      <p class="text-sm mb-8">*details provided below, and check with Texila for more information</p>
      <div class="flex flex-col md:flex-row justify-around items-center mb-8">
        <div class="text-center md:w-1/2">
          <h4 class=" mb-2">Basic Sciences</h4>
            <p class="text-2xl font-semibold">9000 USD per semester</p>
            <hr class="text-[#D4D9EE] m-6">
        </div>
        <div class="text-center md:w-1/2">
          <h4 class="mb-2">US Clinical Sciences</h4>
          <p class="text-2xl font-semibold">15,750 USD per semester</p>
          <hr class="m-6 text-[#D4D9EE]">
        </div>
      </div>
      <a href="https://apply.tauedu.org/gy/caribbean-medical-schools/contact/" class="inline-block bg-[#F9C22E] text-[#3664B7] font-semibold py-2 px-4 rounded">
        Schedule a Call
      </a>
    </div>
  </div>
</section>

<section class="max-w-7xl mx-auto py-8 md:py-16 px-2 md:px-0">
  <h2 class="text-2xl font-semibold mb-3 md:mb-7 text-center">Other Fees – Doctor of Medicine Program</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Column 1 -->
      <ul class="list-none">
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Re-registration (per semester)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">100 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Exam Fees (including NBME Subject Exams <br>– per semester, Basic Science)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">240 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Educational Resources <br>(Per Semester for Basic Science)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">200 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Visa Extension Fee (International Students)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">560 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Basic Science Exit Exam (One Time)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">200 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Exam Fees including NBME Shelf <br>(Per Semester for Clinical Science)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">240 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Clinical Exit Exam</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">1,000 USD <span class="text-black">**</span></span>
        </li>
      </ul>
    <!-- Column 2 -->
      <ul class="list-none">
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Malpractice insurance <br> (per year – US Rotation Students)</span>
          <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">1300 USD (estimated)</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Health insurance (per year, subject to change)</span>
          <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">200 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">One-time Health Checkup (International Students only)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">125 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Visa Processing Fee (International Students)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">250 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Educational Resources (per semester - Clinical Science)</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">250 USD</span>
        </li>
        <li class="flex text-sm md:text-base justify-between items-center mb-3 bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg border-l-3 border-[#3664B7]">
          <span class="px-4 py-2">Graduation fee</span>
         <span class="font-semibold bg-[#FFE44D] p-5 rounded-r-lg">915 USD</span>
        </li>
      </ul>
    
  </div>
    <p class="max-w-4xl mx-auto text-sm md:text-base md:text-center py-6 leading-relaxed">Transition Semester Tuition Is <strong>USD 12,000</strong> for Students Who Opt to Do the Transition Semester in the United States.
Clinical Exit Exam Fees Are <strong>USD 2,000</strong> for Students Completing Clinical Rotations in the United States.</p>
    <hr class="max-w-4xl mx-auto text-gray-300">
    <p class="max-w-4xl mx-auto text-sm md:text-base md:text-center py-6 leading-relaxed"><strong>Note:</strong> The tuition amounts listed above do not include any applicable scholarships. Approved scholarships will be applied as a reduction to the stated tuition fees and are relevant to tuition only, not other fees or charges.</p>
</section>

<section class="bg-[#F9F9F9]">
    <div class="flex flex-col md:flex-row">
      <!-- First column -->
      <div class="object-contain md:w-6/12">
        <img src={study.src} alt="Image" class="w-full h-auto">
      </div>
      <!-- Second column -->
      <div class="w-full md:w-5/12 p-4 md:p-12">
        <h2 class="text-2xl font-semibold mb-2">For U.S. Students</h2>
        <img src={sallie.src} alt="sallie" class="w-1/2 md:w-1/4 h-auto">
        <p class="my-3 text-sm md:text-base leading-relaxed">Texila American University is a Sallie Mae-approved institution empowering eligible students to finance their medical education through private student loans.</p>
        <p class="my-6 text-sm md:text-base leading-relaxed">The Sallie Mae Medical School Loan is designed for future physicians. This loan offers up to full coverage of the cost of attendance to the TAU College of Medicine’s 4-year MD program, giving students the financial support needed to pursue their dream. This includes:</p>
        <ul class="list-none text-sm md:text-base">
          <li class="flex items-center mb-3 rounded-md">
            <img src={point.src} alt="Bullet" class="mr-2">
            <span>Tuition and Fees</span>
          </li>
          <li class="flex items-center mb-3 rounded-md">
            <img src={point.src} alt="Bullet" class="mr-2">
            <span>Books, Equipment, and Supplies</span>
          </li>
          <li class="flex items-center mb-3 rounded-md">
            <img src={point.src} alt="Bullet" class="w-6 h-6 mr-2">
            <span>Housing, Meals, and Travel</span>
          </li>
           <li class="flex items-center mb-3 rounded-md">
            <img src={point.src} alt="Bullet" class="w-6 h-6 mr-2">
            <span>Exam Fees and Board Preparation</span>
          </li>
           <li class="flex items-center mb-3 rounded-md">
            <img src={point.src} alt="Bullet" class="w-6 h-6 mr-2">
            <span>Find out what else may be covered…</span>
          </li>
        </ul>
        <p class="mt-6 text-sm md:text-base leading-relaxed">TAU will assist students with documentation to support eligibility for study-abroad funding if required</p>
      </div>
       <div class="w-full md:w-1/12"></div>
    </div>
  </div>
</section>

<section class="bg-[#E8ECF2]">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/12"></div>
      <div class="w-full md:w-5/12 p-4 md:p-12">
        <h2 class="text-2xl font-semibold mb-2">For Canadian Students</h2>
        <img src={osap2.src} alt="sallie" class="w-1/2 md:w-1/4 h-auto">
        <p class="my-3 text-sm md:text-base leading-relaxed">Texila American University is an Ontario Student Assistance Program (OSAP) approved institution, empowering eligible Canadians to finance their medical education through provincial student loans.</p>
        <p class="my-6 text-sm md:text-base leading-relaxed">In addition to provincial aid, all Canadian citizens and permanent residents may apply for federal financial aid through the Canada Student Financial Assistance Program (CSFA Program). This can be accessed via your province’s student loan portal.</p>
        <p class="text-sm md:text-base leading-relaxed">TAU will assist students with documentation to support eligibility for study-abroad funding if required by the province.</p>
       <a
  href="https://apply.tauedu.org/gy/caribbean-medical-schools/contact/"
  class="inline-flex my-5 mx-auto md:mx-0 items-center gap-1 bg-gradient-to-r from-[#3663B6] to-[#16418E] hover:brightness-105 text-white border-b-4 border-[#FFE44D] text-base px-6 py-3 rounded-md"
>
  Apply Now
</a>


      </div>
        <div class="w-full md:w-6/12">
        <img src={study2.src} alt="Image" class="w-full h-auto">
      </div>
    </div>
  </div>
</section>

<section class="max-w-7xl mx-auto bg-white px-4 md:px-0 md:my-16 my-8">
  <div class="flex md:flex-row flex-col">
    <img src={graduate.src} alt="graduate w-1/2 h-auto">
  <div>
    <h2 class="text-2xl font-semibold mt-6">Scholarship </h2>
    <p class="my-6 text-sm md:text-base leading-relaxed">The extensive range of scholarships at Texila American University (TAU) not only rewards academic excellence but also enables students from many backgrounds to study at an international university, ensuring equity in education. A number of full and partial scholarships have been designed to benefit eligible students. The scholarship programmes are highly competitive and students are encouraged to apply on time to be included for review. Applicants and accepted students are invited to apply for available scholarships posted on our official website.</p>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <ul class="list-none grid grid-cols-1 gap-4">
        <li class="border-l-[3px] border-[#3664B7] text-sm md:text-base bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg p-3">TAU - Global Citizen Grant</li>
        <li class="border-l-[3px] border-[#3664B7] text-sm md:text-base bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg p-3">TAU - CARICOM Scholarship</li>
        <li class="border-l-[3px] border-[#3664B7] text-sm md:text-base bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg p-3">TAU - Guyana Scholarship</li>
        <li class="border-l-[3px] border-[#3664B7] text-sm md:text-base bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg p-3 mb-4 md:mb-0">First Lady Scholarship</li>
      </ul>
       <ul class="list-none grid grid-cols-1 gap-4">
        <li class="border-l-[3px] border-[#3664B7] text-sm md:text-base bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg p-3">Texila President Scholarship</li>
        <li class="border-l-[3px] border-[#3664B7] text-sm md:text-base bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg p-3">US Military and Veteran Scholarship</li>
        <li class="border-l-[3px] border-[#3664B7] text-sm md:text-base bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg p-3">Medical Professional Scholarship</li>
        <li class="border-l-[3px] border-[#3664B7] text-sm md:text-base bg-gradient-to-r from-[#D4D9EE] to-[#D4D9EE00] rounded-lg p-3">MCAT Scholarship</li>
      </ul>
    </div>
    <p class="mt-6 text-sm md:text-base leading-relaxed"><strong>Please note:</strong> Scholarships are available only to first-year and incoming students, and not for transfer students. Scholarships are limited to a certain number in each category</p>
  </div>
  </div>
</section>
</Layout>
